<nav class="sticky top-0 z-50 bg-slate-900/80 backdrop-blur-md border-b border-slate-700">
    <div class="max-w-7xl mx-auto px-6">
        <div class="flex items-center justify-between h-20">
            <a href="#home" 
               class="font-hero text-3xl font-bold hover:text-blue-300 transition-colors">
               
               Renz Malabanan

            </a>
            <div class="hidden md:flex items-center gap-12">

                <a href="#about"
                   class="font-heading text-slate-300 hover:text-blue-400 transition-colors">
                    About
                </a>

                <a href="#projects"
                   class="font-heading text-slate-300 hover:text-blue-400 transition-colors">
                    Projects
                </a>

                <a href="#experience"
                   class="font-heading text-slate-300 hover:text-blue-400 transition-colors">
                    Experience
                </a>

                <a href="#contact"
                   class="font-heading text-slate-300 hover:text-blue-400 transition-colors">
                    Contact
                </a>

            </div>
        </div>
    </div>

</nav>

@code {
   
}
