@page "/"

<PageTitle>Home</PageTitle>

<!-- HOME SECTION -->
<section 
    id="home"
    class="min-h-screen flex items-center">

    <div class="mx-auto max-w-4xl px-6 space-y-3">
        
        <p class="font-heading text-center md:text-start text-blue-400 tracking-[0.3em]"> > Loading player 016...</p>

        <h1 class="font-hero text-6xl md:text-6xl lg:text-7xl uppercase text-center md:text-start">Renz Malabanan</h1>

        <p class="font-heading text-xl text-blue-400 text-center md:text-start uppercase tracking-[0.3em]">Full-stack .NET Developer</p>

        <p class="font-body text-center md:text-start text-lg leading-6 text-slate-300">
            Building modern web applications, <br/>
            IoT Systems, and interactive experience
        </p>

        <div class="flex flex-row gap-4 mt-8">

            <a 
                href="#projects"
                class="bg-blue-500 hover:bg-blue-400 hover:shadow-lg hover:-translate-y-1 text-white 
                py-3 px-5 rounded-md font-body transition-all duration-200">
                View Projects
            </a>

            <a 
                href="/practicum/Final Practictum Report - Renz.pdf"
                target="_blank"
               class="border border-blue-400 text-blue-400 hover:text-white hover:shadow-lg hover:border-white hover:-translate-y-1
                py-3 px-3 rounded-md transition-all duration-200">
                Download Resume
            </a>

        </div>

    </div>

</section>

<!-- ABOUT SECTION -->
<section id="about">
</section>

<!-- PROJECTS SECTION -->
<section id="projects">
</section>

<!-- EXPERIENCE SECTION -->
<section id="experience">
</section>

<!-- RESUME SECTION -->
<section id="resume">
</section>

<!-- CONTACT SECTION -->
<section id="contact">
</section>